<%- include('./partials/header'); %>
    <h1>REGISTER</h1
    <p>This is just a a prototype.</p>
    <p>There are some hard-coded accounts that you can find in the <a href="/login">Login</a> page.</p>
    <form>
      <table>
        <tr>
          <td>Company name</td>
          <td><input type="text" name="coName" placeholder="My Company" /></td>
        </tr>
        <tr>
          <td>Subdomain</td>
          <td>
            <input type="text" name="coSubdomain" placeholder="my-comp" />
          </td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
            <input type="email" name="email" placeholder="user1@comp.com" />
          </td>
        </tr>
        <tr>
          <td>Password</td>
          <td>
            <input type="password" name="password"/>
          </td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit">Submit</button></td>
        </tr>
      </table>
    </form>
<%- include('./partials/footer') %>
